<app-header></app-header>
<div class="user-profile">
  <div class="wrapper">
    <div class="user-profile__container flex flex-row">
      <div class="user-profile__card flex flex-row">
        <div class="flex flex-row">
          <div class="flex flex-col justify-center items-center">
            <div class="user-profile__avatar">
              <i class="fa-solid fa-user"></i>
            </div>
            <h3 class="user-profile__fullname">
              {{ user.firstName + " " + user.lastName }}
            </h3>
            <h3 class="user-profile__super">Superhost</h3>
            <div class="flex flex-row justify-center items-center">
              <app-button size="sm" color="blue" class="" (onClick)="this.updateClick()">Update</app-button>
              <app-button size="sm" color="rose" class="" (onClick)="this.deleteClick()">Delete</app-button>
            </div>
          </div>
        </div>
        <div class="user-profile__small-stats flex flex-col justify-center">
          <div class="flex flex-col user-profile__small-criteria-box">
            <h4 class="user-profile__number">132</h4>
            <h4 class="user-profile__criteria">Reviews</h4>
          </div>
          <div class="flex flex-col user-profile__small-criteria-box">
            <h4 class="user-profile__number">{{ user.rating }}</h4>
            <h4 class="user-profile__criteria">Rating</h4>
          </div>
        </div>
      </div>
      <div class="user-profile__right flex-col">
        <h2 class="user-profile__section-title">About {{ user.username }}</h2>
        <ul class="user-profile__list">
          <li class="user-profile__item">
            <i class="fa-solid fa-globe user-profile__item-icon"></i>
            <span class="user-profile__item-span">{{ user.residence }}</span>
          </li>
          <li class="user-profile__item">
            <i class="fa-solid fa-circle-info user-profile__item-icon"></i>
            <span class="user-profile__item-span">{{ user.age }}</span>
          </li>
          <li class="user-profile__item">
            <i class="fa-solid fa-envelope user-profile__item-icon"></i>
            <span class="user-profile__item-span">{{ user.email }}</span>
          </li>
        </ul>
        <h2 class="user-profile__section-title">Ratings</h2>
        <app-form-create-rating-for-user
          [hostID]="this.profileID"
          [userFromParent]="this.user"
        ></app-form-create-rating-for-user>
        <app-show-rates-for-user
          [hostID]="this.profileID"
        ></app-show-rates-for-user>
      </div>
    </div>
  </div>
</div>
