<div class="accommodation-photos">
  <div class="accommodation-photos__main-image">
    <img
    [src]="'https://localhost/api/accommodations/images/'+imageIds[0]"
      alt="Main Image"
    />
  </div>
  <div class="accommodation-photos__thumbnail-list">
    <div class="accommodation-photos__thumbnail">
      <img
        src="https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618_960_720.jpg"
        alt="Thumbnail 1"
      />
    </div>
    <div class="accommodation-photos__thumbnail">
      <img
        src="https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618_960_720.jpg"
        alt="Thumbnail 2"
      />
    </div>
    <div class="accommodation-photos__thumbnail">
      <img
        src="https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618_960_720.jpg"
        alt="Thumbnail 2"
      />
    </div>
    <div class="accommodation-photos__thumbnail">
      <img
        src="https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014618_960_720.jpg"
        alt="Thumbnail 2"
      />
    </div>
  </div>
</div>
