version: "3.8"

services:
  auth-service:
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    image: auth-service
    container_name: auth-service
    restart: always
    hostname: "auth-server"
    depends_on:
      - auth-db
    environment:
      - PORT=8080
      - JWT_SECRET=${JWT_SECRET}
      - MONGO_DB_URI=mongodb://root:pass@auth-db:27017
      - SECRET_KEY=${SECRET_ENCRIPTION_KEY}
      - MAIL_SERVICE_HOST=${MAIL_SERVICE_HOST}
      - MAIL_SERVICE_PORT=${MAIL_SERVICE_PORT}
      - USER_SERVICE_HOST=${USER_SERVICE_HOST}
      - USER_SERVICE_PORT=${USER_SERVICE_PORT}
      - NOTIFICATION_SERVICE_HOST=${NOTIFICATION_SERVICE_HOST}
      - NOTIFICATION_SERVICE_PORT=${NOTIFICATION_SERVICE_PORT}
      - JAEGER_ADDRESS=${JAEGER_ADDRESS}
    networks:
      - network
    volumes:
      - auth_logs:/app/logs

  notifications-service:
    build:
      context: .
      dockerfile: ./notifications-service/Dockerfile
    image: notifications-service
    container_name: notifications-service
    restart: always
    hostname: "notifications-server"
    depends_on:
      - notifications-db
    environment:
      - PORT=8080
      - MONGO_DB_URI=mongodb://root:pass@notifications-db:27017
      - MAIL_SERVICE_HOST=${MAIL_SERVICE_HOST}
      - MAIL_SERVICE_PORT=${MAIL_SERVICE_PORT}
      - USER_SERVICE_HOST=${USER_SERVICE_HOST}
      - USER_SERVICE_PORT=${USER_SERVICE_PORT}
    networks:
      - network

  mail-service:
    build:
      context: .
      dockerfile: ./mail-service/Dockerfile
    image: mail-service
    container_name: mail-service
    restart: always
    hostname: "mail-server"
    environment:
      - PORT=8080
      - EMAIL=${EMAIL}
      - PASSWORD=${PASSWORD}
    networks:
      - network

  auth-db:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass
      MONGO_INITDB_DATABASE: mongoDemo
      ME_CONFIG_MONGODB_SERVER: mongo
    # Docker healtcheck - checks if database is "alive"
    healthcheck:
      test: echo 'db.runCommand("ping").ok'
      interval: 10s
      timeout: 10s
      retries: 10
    volumes:
      - auth-db_store:/data/db
    networks:
      - network

  accommodations-service:
    image: accommodations-service
    build:
      context: .
      dockerfile: ./accommodations-service/Dockerfile
    restart: always
    container_name: "accommodations-service"
    hostname: "accommodations-service"

    environment:
      - PORT=8080
      - JWT_SECRET=${JWT_SECRET}
      - SECRET_KEY=${SECRET_ENCRIPTION_KEY}
      - MONGO_DB_URI=mongodb://root:pass@accommodation-db:27017
      - RESERVATIONS_SERVICE_HOST=${RESERVATIONS_SERVICE_HOST}
      - RESERVATIONS_SERVICE_PORT=${RESERVATIONS_SERVICE_PORT}
      - HDFS_URI=namenode:9000
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - NATS_HOST=${NAST_HOST}
      - NATS_PORT=${NAST_PORT}
      - NATS_USER=${NATS_USER}
      - NATS_PASS=${NAST_PASS}
      - CREATE_ACCOMMODATION_COMMAND_SUBJECT=${CREATE_ACCOMMODATION_COMMAND_SUBJECT}
      - CREATE_ACCOMMODATION_REPLY_SUBJECT=${CREATE_ACCOMMODATION_REPLY_SUBJECT}
    networks:
      - network
    depends_on:
      accommodation-db:
        condition: service_healthy
      namenode:
        condition: service_healthy
      datanode1:
        condition: service_healthy
      datanode2:
        condition: service_healthy
      acc-redis:
        condition: service_healthy

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    ports:
      - 9870:9870
      - 9000:9000
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./.env
    networks:
      - network

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    volumes:
      - hadoop_datanode1:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    env_file:
      - ./.env
    networks:
      - network

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    volumes:
      - hadoop_datanode2:/hadoop/dfs/data
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    env_file:
      - ./.env
    networks:
      - network

  acc-redis:
    image: redis
    restart: always
    ports:
      - "6379:6379"
    # We instruct redis to store data to disk every 20 seconds if there was at least 1 write operation
    command: "redis-server --save 20 1 --loglevel warning"
    healthcheck:
      test: echo 'db.runCommand("ping").ok'
      interval: 10s
      timeout: 10s
      retries: 10
    volumes:
      # <docker_volume_name>:<database_specific_data_location>
      - redis_data:/data
    env_file:
      - ./.env
    networks:
      - network

  accommodation-db:
    image: mongo
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass
      MONGO_INITDB_DATABASE: mongoDemo
    # Docker healtcheck - checks if database is "alive"
    healthcheck:
      test: echo 'db.runCommand("ping").ok'
      interval: 10s
      timeout: 10s
      retries: 10
    volumes:
      - accommodation-db_store:/data/db
    networks:
      - network

  reservations-service:
    image: reservations-service
    build:
      context: .
      dockerfile: ./reservations-service/Dockerfile
    restart: always
    container_name: "reservations-server"
    hostname: "reservations-server"
    #Will be accessible through os.Getenv("PORT")
    environment:
      - PORT=8080
      # NoSQL: environment variable holding connection URI for Cassandra database
      - CASS_DB=reservations-db:9042
      # NoSQL: Extremely important! Cassandra takes a lot of time to start!
      # If we don't wait for it to fully initialize we will get exceptions and will not be able to connect!
      - NOTIFICATION_SERVICE_HOST=${NOTIFICATION_SERVICE_HOST}
      - NOTIFICATION_SERVICE_PORT=${NOTIFICATION_SERVICE_PORT}
      - JAEGER_ADDRESS=${JAEGER_ADDRESS}
    depends_on:
      reservations-db:
        condition: service_healthy
    networks:
      - network

  reservations-db:
    image: cassandra
    restart: always
    ports:
      - "9042:9042"
    # Docker healtcheck - checks if database is "alive"
    healthcheck:
      test: ["CMD-SHELL", "cqlsh -e 'describe cluster'"]
      interval: 15s
      timeout: 15s
      retries: 15
    volumes:
      - cass_store:/var/lib/cassandra/data
    networks:
      - network

  user-service:
    image: user-service
    build:
      context: .
      dockerfile: ./user-service/Dockerfile
    restart: always
    container_name: "user-service"
    hostname: "user-service"
    environment:
      - PORT=8080
      - JWT_SECRET=${JWT_SECRET}
      - MONGO_DB_URI=mongodb://root:pass@user-db:27017
      - RESERVATIONS_SERVICE_HOST=${RESERVATIONS_SERVICE_HOST}
      - RESERVATIONS_SERVICE_PORT=${RESERVATIONS_SERVICE_PORT}
      - AUTH_SERVICE_HOST=${AUTH_SERVICE_HOST}
      - AUTH_SERVICE_PORT=${AUTH_SERVICE_PORT}
      - ACCOMMODATION_SERVICE_HOST=${ACCOMMODATION_SERVICE_HOST}
      - ACCOMMODATION_SERVICE_PORT=${ACCOMMODATION_SERVICE_PORT}
    networks:
      - network
    depends_on:
      user-db:
        condition: service_healthy

  user-db:
    image: mongo
    restart: always
    ports:
      - "27019:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass
      MONGO_INITDB_DATABASE: mongoDemo
    # Docker healtcheck - checks if database is "alive"
    healthcheck:
      test: echo 'db.runCommand("ping").ok'
      interval: 15s
      timeout: 15s
      retries: 10
    volumes:
      - user-db_store:/data/db
    networks:
      - network

  notifications-db:
    image: mongo
    restart: always
    ports:
      - "27020:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass
      MONGO_INITDB_DATABASE: mongoDemo
    # Docker healtcheck - checks if database is "alive"
    healthcheck:
      test: echo 'db.runCommand("ping").ok'
      interval: 15s
      timeout: 15s
      retries: 10
    volumes:
      - notifications-db_store:/data/db
    networks:
      - network

  esdb:
    image: eventstore/eventstore:23.10.0-bookworm-slim
    environment:
      - EVENTSTORE_CLUSTER_SIZE=1
      - EVENTSTORE_RUN_PROJECTIONS=All
      - EVENTSTORE_START_STANDARD_PROJECTIONS=true
      - EVENTSTORE_EXT_TCP_PORT=1113
      - EVENTSTORE_HTTP_PORT=2113
      - EVENTSTORE_INSECURE=true
      - EVENTSTORE_ENABLE_EXTERNAL_TCP=true
      - EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP=true
    ports:
      - "1113:1113"
      - "2113:2113"
    volumes:
      - type: volume
        source: eventstore-volume-data
        target: /var/lib/eventstore
      - type: volume
        source: eventstore-volume-logs
        target: /var/log/eventstore
    networks:
      - network

  metrics-command:
    image: metrics-command
    container_name: metrics-command
    hostname: ${COMMAND_SERVICE_HOST}
    build:
      context: .
      dockerfile: ./metrics-command/Dockerfile
    restart: always
    environment:
      PORT: ${COMMAND_SERVICE_PORT}
      QUERY_SERVICE_HOST: ${QUERY_SERVICE_HOST}
      QUERY_SERVICE_PORT: ${QUERY_SERVICE_PORT}
      ESDB_USER: ${ESDB_USER}
      ESDB_PASS: ${ESDB_PASS}
      ESDB_HOST: ${ESDB_HOST}
      ESDB_PORT: ${ESDB_PORT}
    depends_on:
      - esdb
    networks:
      - network

  metrics_query:
    image: metrics_query
    container_name: metrics_query
    hostname: ${QUERY_SERVICE_HOST}
    build:
      context: .
      dockerfile: ./metrics_query/Dockerfile
    restart: always
    environment:
      MONGO_DB_URI: ${MONGO_DB_URI}
      PORT: ${QUERY_SERVICE_PORT}
      QUERY_SERVICE_HOST: ${QUERY_SERVICE_HOST}
      QUERY_SERVICE_PORT: ${QUERY_SERVICE_PORT}
      ESDB_USER: ${ESDB_USER}
      ESDB_PASS: ${ESDB_PASS}
      ESDB_HOST: ${ESDB_HOST}
      ESDB_PORT: ${ESDB_PORT}
      ESDB_GROUP: ${ESDB_GROUP}
    depends_on:
      accommodation-db:
        condition: service_healthy
      esdb:
        condition: service_healthy
    networks:
      - network


  api-gateway:
    build:
      context: ./api-gateway/
      dockerfile: Dockerfile
    container_name: api-gateway
    hostname: api-gateway
    restart: on-failure
    ports:
      - "443:443"
    depends_on:
      - auth-service
      - accommodations-service
      - reservations-service
      - user-service
      - notifications-service
    networks:
      - network

  recommendation-service:
    build:
      context: .
      dockerfile: ./recommendation-service/Dockerfile
    image: recommendation-service
    container_name: recommendation-service
    restart: always
    hostname: "recommendation-server"
    environment:
      - PORT=8080
      - JWT_SECRET=${JWT_SECRET}
      - SECRET_KEY=${SECRET_ENCRIPTION_KEY}
      - NEO4J_DB=bolt://neo4j:7687
      - NEO4J_USERNAME=neo4j
      - NEO4J_PASS=nekasifrabrateu
      - USER_SERVICE_HOST=${USER_SERVICE_HOST}
      - USER_SERVICE_PORT=${USER_SERVICE_PORT}
      - ACCOMMODATION_SERVICE_HOST=${ACCOMMODATION_SERVICE_HOST}
      - ACCOMMODATION_SERVICE_PORT=${ACCOMMODATION_SERVICE_PORT}
      - NATS_HOST=${NAST_HOST}
      - NATS_PORT=${NAST_PORT}
      - NATS_USER=${NATS_USER}
      - NATS_PASS=${NAST_PASS}
      - CREATE_ACCOMMODATION_COMMAND_SUBJECT=${CREATE_ACCOMMODATION_COMMAND_SUBJECT}
      - CREATE_ACCOMMODATION_REPLY_SUBJECT=${CREATE_ACCOMMODATION_REPLY_SUBJECT}
    depends_on:
      neo4j:
        condition: service_healthy
    networks:
      - network

  neo4j:
    image: neo4j
    restart: always
    ports:
      # bolt
      - "7687:7687"
      # http
      - "7474:7474"
      # https
      - "7473:7473"
    # Docker healtcheck - checks if database is "alive"
    healthcheck:
      # test: [ "CMD-SHELL", "echo RETURN 1 | cypher-shell -a <NEO4J_dbms_connector_bolt_listen__address> -u <user defined username> -p <user defined password> || exit 1" ]
      test:
        [
          "CMD-SHELL",
          "echo RETURN 1 | cypher-shell -a bolt://neo4j:7687 -u neo4j -p nekasifrabrateu || exit 1",
        ]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      - NEO4J_AUTH=neo4j/nekasifrabrateu
    volumes:
      - neo4j_data:/data
    networks:
      - network

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "6831:6831/udp"
      - "16686:16686"
    networks:
      - network

  collector:
    image: otel/opentelemetry-collector:0.69.0
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ./api_gateway/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    networks:
      - network

  nats:
    image: nats
    container_name: nats
    restart: on-failure
    networks:
      - network
      
networks: 
  network:
    driver: bridge

volumes:
  auth-db-mongo-express:
  auth-db_store:
  accommodation-db_store:
  cass_store:
  user-db_store:
  notifications-db_store:
  hadoop_namenode:
  hadoop_datanode1:
  hadoop_datanode2:
  neo4j_data:
  redis_data:
  auth_logs:
    driver: local
  eventstore-volume-data:
  eventstore-volume-logs:
