go 1.21.6

use (
	./accommodations-service
	./auth-service
	./mail-service
	./metrics-command
	./metrics_events
	./metrics_query
	./notifications-service
	./recommendation-service
	./reservations-service
	./user-service
	saga
)
