.show-rate {
  margin: 15px 0px;
}

.show-rate__container {
  padding: 15px 0px;
}

.show-rate__author i {
  padding: 20px;
  font-size: 24px;
}

.show-rate__user {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.show-rate__rating {
  font-size: 16px;
  margin-bottom: 5px;
}

.show-rate__date {
  color: #878383;
  font-size: 16px;
}
