<!DOCTYPE html>
<html>
  <head> </head>
  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
      font-family: 'Roboto', Arial, sans-serif;
    "
  >
    <table
      role="presentation"
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
    >
      <tr>
        <td
          bgcolor="#FF385C"
          style="
            padding: 20px;
            text-align: center;
            color: #fff;
            font-family: 'Roboto', Arial, sans-serif;
          "
        >
          <h1 style="font-size: 28px; font-weight: bold">
            Welcome to Your Website
          </h1>
        </td>
      </tr>
    </table>
    <table
      role="presentation"
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
    >
      <tr>
        <td style="padding: 20px; background-color: #fff">
          <h2 style="font-family: 'Roboto', Arial, sans-serif; color: #000">
            Hello {{.User}},
          </h2>
          <p style="font-family: 'Roboto', Arial, sans-serif; color: #000">
            We're here to assist you with your account. Your
            validation/2FA/password reset code is:
          </p>
          <h3 style="font-family: 'Roboto', Arial, sans-serif; color: #ff385c">
            {{.Website}}
          </h3>
          <p style="font-family: 'Roboto', Arial, sans-serif; color: #000">
            If you didn't request this code, please ignore this email. It will
            expire in [Expiration Time].
          </p>
          <p style="font-family: 'Roboto', Arial, sans-serif; color: #000">
            Thank you for choosing us for your online needs.
          </p>
          <table
            role="presentation"
            align="center"
            cellspacing="0"
            cellpadding="0"
          >
            <tr>
              <td
                style="
                  padding: 15px 30px;
                  background-color: #ff385c;
                  color: #fff;
                  text-align: center;
                  border-radius: 30px;
                "
              >
                <a
                  href="#"
                  style="
                    text-decoration: none;
                    color: #fff;
                    font-family: 'Roboto', Arial, sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                  "
                  >Visit Our Website</a
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
