<div class="search">
  <div class="search__container">
    <button class="search__button" (click)="onSearchClick()">
      <span class="search__search-criteria"> Anywhere </span>
      <span class="search__search-criteria"> Any week </span>
      <span class="search__search-criteria">Add guests</span>
      <i class="fa-solid fa-magnifying-glass search__search-icon"></i>
    </button>
    <div class="search__lower" *ngIf="isClicked">
      <app-form-search></app-form-search>
    </div>
  </div>
</div>
