.header {
  padding: 20px 0px;
}

.header__logo {
  color: #ff5977;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  &:hover {
  }
}

.header__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
