<div class="accommodation-details">
  <h3 class="accommodation-details__location text--light">Location Name</h3>
  <p class="accommodation-details__adults text--dark-gray">
    5 guest minimum, 15 guests maximum
  </p>
  <div class="accommodation-details__user flex-row items-center">
    <div class="accommodation-details__icon">
      <i class="fa-regular fa-user"></i>
    </div>
    <div class="flex-col">
      <p class="text--light text--gray">Hosted by</p>
      <h3 class="text--bold text--black">Username</h3>
    </div>
  </div>
</div>
