.confirming-acc-info {
  height: 80vh;
  width: 100%;
  overflow-y: hidden;
}

.confirming-acc-info__container {
  height: 100%;
}

.confirming-acc-info__envelope {
  font-size: 128px;
  color: #ff5977;
  margin-bottom: 50px;
}
