<form
  action=""
  class="form"
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit($event)"
>
  <div class="form__errors-box" *ngIf="errors.length > 0">
    <ul class="form__errors-list">
      <li class="form__errors-item" *ngFor="let item of errors">
        {{ item }}
      </li>
    </ul>
  </div>
  <div class="form__group">
    <label for="oldPassword" class="form__label">Old password</label>
    <input
      type="password"
      id="oldPassword"
      class="form__input"
      placeholder="********"
      formControlName="oldPassword"
    />
    <div class="form__error-container">
      <p
        *ngIf="
          changePasswordForm.get('oldPassword')?.hasError('required') &&
          changePasswordForm.get('oldPassword')?.touched
        "
        class="form__error"
      >
        Old password is required.
      </p>
    </div>
  </div>
  <div class="form__group">
    <label for="password" class="form__label">Password</label>
    <input
      type="password"
      id="password"
      class="form__input"
      placeholder="********"
      formControlName="password"
    />
    <div class="form__error-container">
      <p
        *ngIf="
          changePasswordForm.get('password')?.hasError('required') &&
          changePasswordForm.get('password')?.touched
        "
        class="form__error"
      >
        Password is required.
      </p>
    </div>
  </div>
  <div class="form__group">
    <label for="password" class="form__label">Confirm Password</label>
    <input
      type="password"
      id="password"
      class="form__input"
      placeholder="********"
      formControlName="confirmedPassword"
    />
    <div class="form__error-container">
      <p
        *ngIf="
          changePasswordForm.get('confirmedPassword')?.hasError('required') &&
          changePasswordForm.get('confirmedPassword')?.touched
        "
        class="form__error"
      >
        Password is required.
      </p>
    </div>
    <app-button size="md" color="rose" class="form__button" type="submit"
      >Confirm</app-button
    >
  </div>
</form>
