.accommodation-card {
  transition: all 0.3s ease;
  margin: 15px 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.accommodation-card__image {
  width: 200px; /* Set the width of the container */
  height: 250px; /* Set a fixed height for the container */
  overflow: hidden; /* Ensure the image stays within the container */
}

.accommodation-card__image img {
  width: 100%; /* Make the image fill the container width */
  height: 100%; /* Ensure the image fills the container height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 10px;
}

.accommodation-card__title {
  font-weight: bold;
  font-size: 17px;
}

.accommodation-card__location {
  color: #777;
  font-size: 15px;
}

.accommodation-card__price-value {
  font-weight: bold;
}

.accommodation-card__details {
  text-align: left;
}

.accommodation-card__details > * {
  margin-bottom: 5px;
}