<div class="accommodation-card" (click)="clickOnCard()">
  <div class="accommodation-card__image">
    <img
      [src]="accommodation.imageIds.length>0 ? 'https://localhost:443/api/accommodations/images/' + accommodation.imageIds[0] : '\assets\pictures\air.png'"
      alt="Image"
      class="accommodation-card__image-item"
    />
  </div>
  <div class="accommodation-card__details">
    <h2 class="accommodation-card__title">{{ accommodation.name }}</h2>
    <p class="accommodation-card__location">
      {{ accommodation.city }}
    </p>
    
  </div>
</div>
