.simple-profile-menu {
  position: relative;
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

.simple-profile-menu__icon {
  color: rgba(0, 0, 0, 0.6);
  margin-right: 10px;
}

.simple-profile-menu__icon-circle-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 50%;
  color: #fff;
}

.simple-profile-menu__list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 110%;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  min-width: 200px;
  border-radius: 15px;
}

.simple-profile-menu__list--active {
  visibility: visible;
  opacity: 1;
}

.simple-profile-menu__item {
  margin: 5px 0px;
  padding: 10px 5px;
  &:hover {
    background-color: rgba(149, 157, 165, 0.2);
  }
}
