<div class="update-user">
  <div class="update-user__container flex flex-row">
    <div class="update-user__left">
      <ul class="update-user__list">
        <li
          class="update-user__item"
          *ngFor="let item of updateUserListOptions"
          (click)="item.action()"
        >
          {{ item.text }}
        </li>
      </ul>
    </div>
    <div class="update-user__right">
      <ng-container *ngIf="currActiveIndex !== null">
        <app-form-change-password
          *ngIf="isIndexActive(0)"
        ></app-form-change-password>
        <app-form-update-credentials
          *ngIf="isIndexActive(1)"
        ></app-form-update-credentials>
      </ng-container>
    </div>
  </div>
</div>
