<app-header></app-header>
<div class="accommodation-details" *ngIf="accommodation">
  <div class="wrapper">
    <div class="accommodation-details__container flex-col">
      <h1 class="accommodation-details__title">
        {{ accommodation.name }}
      </h1>
      <app-accommodation-photos
        [imageIds]="accommodation.imageIds"
      ></app-accommodation-photos>
      <div class="accommodation-details__row flex-row justify-between">
        <app-accommodation-details
          [accommodation]="accommodation"
        ></app-accommodation-details>

        <app-reservation-form
          *ngIf="this.isUserLogged && this.userLogged?.role == 'Guest'"
          [accommodation]="accommodation"
          [accommodationID]="accommodationID"
        ></app-reservation-form>
      </div>
      <div
        class="accommodation-details__row flex-row"
        *ngIf="
          this.isUserLogged && this.userLogged?.id == this.accommodation.userId
        "
      >
        <app-button
          size="md"
          color="blue"
          class=""
          (onClick)="this.callUpdateAccommodation()"
          >Update</app-button
        >
        <app-button
          size="md"
          color="blue"
          class=""
          (onClick)="this.callDeleteAccommodation()"
          >Delete</app-button
        >
      </div>
    </div>
    <div class="accommodation-details__ratings">
      <app-form-rate-accommodation
        [accommodationID]="accommodationID"
        [hostEmail]="accommodation.email"
        [hostID]="accommodation.userId"
      ></app-form-rate-accommodation>
      <app-show-rates-for-accommodation
        [accommodationID]="accommodationID"
      ></app-show-rates-for-accommodation>
    </div>
  </div>
</div>
