<form [formGroup]="createAccommodationForm" (ngSubmit)="onSubmit($event)" class="form">
    <div class="form__group">
      <label for="name" class="form__label">Name</label>
      <input
        type="text"
        id="name"
        class="form__input"
        placeholder="Accommodation name here..."
        formControlName="name"
      />
      <div class="form__error-container">
        <p
          *ngIf="
          createAccommodationForm.get('name')?.hasError('required') &&
            createAccommodationForm.get('name')?.touched
          "
          class="form__error"
        >
          Name is required.
        </p>
        <p
          *ngIf="
            createAccommodationForm.get('name')?.hasError('name') &&
            createAccommodationForm.get('name')?.touched
          "
          class="form__error"
        >
          Please enter a valid name.
        </p>
        
      </div>
    </div>
    <div class="form__group">
      <label for="location" class="form__label">Location</label>
      <input
        type="text"
        id="location"
        class="form__input"
        placeholder="Write your location..."
        formControlName="location"
      />
      <div class="form__error-container">
        <p
          *ngIf="
            createAccommodationForm.get('location')?.hasError('required') &&
            createAccommodationForm.get('location')?.touched
          "
          class="form__error"
        >
          Location is required.
        </p>
        <p
          *ngIf="
            createAccommodationForm.get('location')?.hasError('location') &&
            createAccommodationForm.get('location')?.touched
          "
          class="form__error"
        >
          Please enter a valid location.
        </p>
      </div>
    </div>
    <div class="form__group">
      <label for="conveniences" class="form__label">Conveniences</label>
      <input
        type="text"
        id="conveniences"
        class="form__input"
        placeholder="Insert your conveniences separated with comma..."
        formControlName="conveniences"
      />
      <div class="form__error-container">
        
      </div>
    </div>
    <div class="form__group">
      <label for="minNumOfVisitors" class="form__label">Minimum number of visitors</label>
      <input
        type="number"
        id="minNumOfVisitors"
        class="form__input"
        placeholder="Minimum number of visitors..."
        formControlName="minNumOfVisitors"
      />
      <div class="form__error-container">
        <p
          *ngIf="
            createAccommodationForm.get('minNumOfVisitors')?.hasError('required') &&
            createAccommodationForm.get('minNumOfVisitors')?.touched
          "
          class="form__error"
        >
          Minimum number of visitors is required!.
        </p>
      </div>
    </div>
    <div class="form__group">
        <label for="maxNumOfVisitors" class="form__label">Maximum number of visitors</label>
        <input
          type="number"
          id="maxNumOfVisitors"
          class="form__input"
          placeholder="Maximum number of visitors..."
          formControlName="maxNumOfVisitors"
        />
        <div class="form__error-container">
          <p
            *ngIf="
              createAccommodationForm.get('maxNumOfVisitors')?.hasError('required') &&
              createAccommodationForm.get('maxNumOfVisitors')?.touched
            "
            class="form__error"
          >
            Maximum number of visitors is required!.
          </p>
        </div>
    </div>
   
    <app-button size="md" color="rose" class="form__button" type="submit">
        Create Accommodation
    </app-button
    >
  </form>
  
