<form
  [formGroup]="createAccommodationForm"
  (ngSubmit)="onSubmit($event)"
  class="form"
>
  <div class="form__group">
    <label for="name" class="form__label">Name</label>
    <input
      type="text"
      id="name"
      class="form__input"
      placeholder="Accommodation name here..."
      formControlName="name"
    />
    <div class="form__error-container">
      <p
        *ngIf="
          createAccommodationForm.get('name')?.hasError('required') &&
          createAccommodationForm.get('name')?.touched
        "
        class="form__error"
      >
        Name is required.
      </p>
      <p
        *ngIf="
          createAccommodationForm.get('name')?.hasError('name') &&
          createAccommodationForm.get('name')?.touched
        "
        class="form__error"
      >
        Please enter a valid name.
      </p>
    </div>
  </div>
  <div class="form__group">
    <label for="address" class="form__label">Address</label>
    <input
      type="text"
      id="address"
      class="form__input"
      placeholder="Write your address..."
      formControlName="address"
    />
    <div class="form__error-container">
      <p
        *ngIf="
          createAccommodationForm.get('address')?.hasError('required') &&
          createAccommodationForm.get('address')?.touched
        "
        class="form__error"
      >
        Address is required.
      </p>
      <p
        *ngIf="
          createAccommodationForm.get('address')?.hasError('address') &&
          createAccommodationForm.get('address')?.touched
        "
        class="form__error"
      >
        Please enter a valid address.
      </p>
    </div>
    
  </div>

  <div class="form__group">
    <label for="city" class="form__label">City</label>
    <input
      type="text"
      id="city"
      class="form__input"
      placeholder="Write your city name..."
      formControlName="city"
    />
    <div class="form__error-container">
      <p
        *ngIf="
          createAccommodationForm.get('city')?.hasError('required') &&
          createAccommodationForm.get('city')?.touched
        "
        class="form__error"
      >
        City is required.
      </p>
      <p
        *ngIf="
          createAccommodationForm.get('city')?.hasError('city') &&
          createAccommodationForm.get('city')?.touched
        "
        class="form__error"
      >
        Please enter a valid name of city.
      </p>
    </div>
    
  </div>

  <div class="form__group">
    
    <select class="countrySelect" (change)="onCountrySelection($event)">
      <option value="" disabled selected>Select a country</option>
      <option *ngFor="let country of countries" [value]="country.name">
        {{ country.name }}
      </option>
    </select>
    
    
  </div>


  <div class="form__group" formArrayName="conveniences">
    <label class="form__label">Conveniences</label>
    <div class="form__checkboxes">
      <div
        *ngFor="let convenience of convenienceFormArray.controls; let i = index"
      >
        <label>
          <input type="checkbox" [formControlName]="i" />
          {{ convenienceList[i] }}
        </label>
      </div>
    </div>
  </div>
  <div class="form__group">
    <label for="minNumOfVisitors" class="form__label">Minimum Visitors</label>
    <input
      type="text"
      id="minNumOfVisitors"
      class="form__input"
      placeholder="Write your minimum number of visitors..."
      formControlName="minNumOfVisitors"
    />
    <div class="form__error-container">
      <p
        *ngIf="
          createAccommodationForm
            .get('minNumOfVisitors')
            ?.hasError('required') &&
          createAccommodationForm.get('minNumOfVisitors')?.touched
        "
        class="form__error"
      >
        Minimum number of visitors is required.
      </p>
      <p
        *ngIf="
          createAccommodationForm
            .get('minNumOfVisitors')
            ?.hasError('minNumOfVisitors') &&
          createAccommodationForm.get('minNumOfVisitors')?.touched
        "
        class="form__error"
      >
        Please enter a valid location.
      </p>
    </div>
  </div>
  <div class="form__group">
    <label for="minNumOfVisitors" class="form__label">Maximum Visitors</label>
    <input
      type="text"
      id="maxNumOfVisitors"
      class="form__input"
      placeholder="Write your minimum number of visitors..."
      formControlName="maxNumOfVisitors"
    />
    <div class="form__error-container">
      <p
        *ngIf="
          createAccommodationForm
            .get('maxNumOfVisitors')
            ?.hasError('required') &&
          createAccommodationForm.get('maxNumOfVisitors')?.touched
        "
        class="form__error"
      >
        Maximum number of visitors is required.
      </p>
      <p
        *ngIf="
          createAccommodationForm
            .get('maxNumOfVisitors')
            ?.hasError('maxNumOfVisitors') &&
          createAccommodationForm.get('maxNumOfVisitors')?.touched
        "
        class="form__error"
      >
        Please enter a valid location.
      </p>
    </div>
  </div>
  <div class="form__group">
    <h6 class="form__group-title">Accommodation availability</h6>
    <div class="form__group" formArrayName="dateAvailabilities">
      <div
        *ngFor="
          let dateAvailability of dateAvailabilities.controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <button class="remove-last-date" (click)="removeLastDateAvailability()">
          X
        </button>
        <div class="form__group">
          <label for="startDate-{{ i }}" class="form__label">Start Date</label>
          <input
            type="date"
            class="form__input"
            id="startDate-{{ i }}"
            formControlName="startDate"
          />
        </div>
        <div class="form__group">
          <label for="endDate-{{ i }}" class="form__label">End Date</label>
          <input
            type="date"
            class="form__input"
            id="endDate-{{ i }}"
            formControlName="endDate"
          />
        </div>
        <div class="form__group">
          <label for="price-{{ i }}" class="form__label">Price</label>
          <input
            type="number"
            class="form__input"
            id="price-{{ i }}"
            formControlName="price"
          />
        </div>
      </div>
     
      <app-button
        (click)="addDateAvailability()"
        type="button"
        class="form__button"
        size="sm"
        color="blue"
      >
        Add Date Availability
      </app-button>
    </div>
    <div class="form__group">
      <label for="images" class="form__label">Upload Pictures</label>
      <input
        type="file"
        id="images"
        class="form__input"
        multiple
        (change)="onFileSelected($event)"
      />
      <div class="form__error-container">
        <!-- You can add error messages for image upload validation if needed -->
      </div>
    </div>
  </div>
  <app-button size="md" color="rose" class="form__button" type="submit">
    Create Accommodation
  </app-button>
</form>
