<form [formGroup]="createAccommodationForm" (ngSubmit)="onSubmit($event)" class="form">
    <div class="form__group">
      <label for="name" class="form__label">Name</label>
      <input
        type="text"
        id="name"
        class="form__input"
        placeholder="Accommodation name here..."
        formControlName="name"
      />
      <div class="form__error-container">
        <p
          *ngIf="
          createAccommodationForm.get('name')?.hasError('required') &&
            createAccommodationForm.get('name')?.touched
          "
          class="form__error"
        >
          Name is required.
        </p>
        <p
          *ngIf="
            createAccommodationForm.get('name')?.hasError('name') &&
            createAccommodationForm.get('name')?.touched
          "
          class="form__error"
        >
          Please enter a valid name.
        </p>
        
      </div>
    </div>
    <div class="form__group">
      <label for="location" class="form__label">Location</label>
      <input
        type="text"
        id="location"
        class="form__input"
        placeholder="Write your location..."
        formControlName="location"
      />
      <div class="form__error-container">
        <p
          *ngIf="
            createAccommodationForm.get('location')?.hasError('required') &&
            createAccommodationForm.get('location')?.touched
          "
          class="form__error"
        >
          Location is required.
        </p>
        <p
          *ngIf="
            createAccommodationForm.get('location')?.hasError('location') &&
            createAccommodationForm.get('location')?.touched
          "
          class="form__error"
        >
          Please enter a valid location.
        </p>
      </div>
    </div>
    <div class="form__group">
      <label class="form__label">Conveniences</label>
      <div class="form__checkboxes">
        <label>
          <input type="checkbox" formControlName="wiFi" /> Wi-Fi
        </label>
        <label>
          <input type="checkbox" formControlName="kitchen" /> Kitchen
        </label>
        <label>
          <input type="checkbox" formControlName="airConditioning" /> Air conditioning
        </label>
        <label>
          <input type="checkbox" formControlName="freeParking" /> Free Parking
        </label>
        <label>
          <input type="checkbox" formControlName="pool" /> Pool
        </label>
      </div>
      <div class="form__error-container">
        <!-- Error messages can be displayed here if needed -->
      </div>
    </div>
    <div class="form__group">
      <label for="minNumOfVisitors" class="form__label">Minimum number of visitors</label>
      <input
        type="number"
        id="minNumOfVisitors"
        class="form__input"
        placeholder="Minimum number of visitors..."
        formControlName="minNumOfVisitors"
      />
      <div class="form__error-container">
        <p
          *ngIf="
            createAccommodationForm.get('minNumOfVisitors')?.hasError('required') &&
            createAccommodationForm.get('minNumOfVisitors')?.touched
          "
          class="form__error"
        >
          Minimum number of visitors is required!.
        </p>
      </div>
    </div>
    <div class="form__group">
        <label for="maxNumOfVisitors" class="form__label">Maximum number of visitors</label>
        <input
          type="number"
          id="maxNumOfVisitors"
          class="form__input"
          placeholder="Maximum number of visitors..."
          formControlName="maxNumOfVisitors"
        />
        <div class="form__error-container">
          <p
            *ngIf="
              createAccommodationForm.get('maxNumOfVisitors')?.hasError('required') &&
              createAccommodationForm.get('maxNumOfVisitors')?.touched
            "
            class="form__error"
          >
            Maximum number of visitors is required!.
          </p>
        </div>
    </div>

    <div *ngFor="let instance of availabilityPriceInstances" [formGroup]="availabilityForm"  class="availability-price">

    <div class="form__group">
      <label for="startDate" class="form__label">Start Date</label>
      <input
        type="date"
        id="startDate"
        class="form__input"
        formControlName="startDate"
      />
    </div>
    <div class="form__group">
      <label for="endDate" class="form__label">End Date</label>
      <input
        type="date"
        id="endDate"
        class="form__input"
        formControlName="endDate"
      />
    </div>
    <div class="form__group">
      <label for="price" class="form__label">Price</label>
      <input
        type="number"
        id="price"
        class="form__input"
        placeholder="Enter price..."
        formControlName="price"
      />
      <div class="form__error-container">
        <!-- Error messages for price can be displayed here if needed -->
      </div>
    </div>
    <div class="form__group">
      <app-button size="md" color="rose" class="form__button"(click)="addAvailabilityPriceInstance()">
        Submit Date
      </app-button>
    </div>
  </div>
    
   
    <app-button size="md" color="rose" class="form__button" type="submit">
        Create Accommodation
    </app-button
    >
  </form>
  
